#/******************************************************************************
# * basic .gitignore for https://github.com/wirbel-at-vdr-portal/Eagle3D
# *****************************************************************************/

# the msys64 sync script isn't part of it:
synchronize.sh

# common development artifacts
*.bak
*.txt
*.log
*.new
*.old
*.diff
*.sh


# this is a per user and run file.
ulp/3dconf.dat

# internal database.
doc/3dpackdat.xlsx

# files automatically synchronized, which share the same folder
ulp/Felicitas_PCBSim.ulp
ulp/bom.ulp
ulp/cam2dxf.ulp
ulp/cam2image.ulp
ulp/cam2print-box-grey-optimize.bmp
ulp/cam2print-box-grey-poscoord.bmp
ulp/cam2print-box-grey-quickplot.bmp
ulp/cam2print.ulp
ulp/centroid-screamingcircuits-smd.ulp
ulp/change-pad-in-lbr-1.bmp
ulp/change-pad-in-lbr-x.bmp
ulp/change-pad-in-lbr.ulp
ulp/change-prefix-sch.ulp
ulp/change-via-by-stack.ulp
ulp/check-used-lbrs.ulp
ulp/clear-layer-in-lbr.ulp
ulp/cmd-change-brd-width.ulp
ulp/cmd-change-class.ulp
ulp/cmd-change-swap-layer.ulp
ulp/cmd-change-value-group.ulp
ulp/cmd-draw-group.bmp
ulp/cmd-draw-hole-ellipse-calcstep.bmp
ulp/cmd-draw-hole-ellipse-degstep.bmp
ulp/cmd-draw-hole-ellipse4-calcstep.bmp
ulp/cmd-draw-hole-ellipse4-degstep.bmp
ulp/cmd-draw-hole-none-calcstep.bmp
ulp/cmd-draw-hole-none-degstep.bmp
ulp/cmd-draw-hole-none.bmp
ulp/cmd-draw-move-circle-match-calcstep.bmp
ulp/cmd-draw-move-circle-match-degstep.bmp
ulp/cmd-draw-move-circle-no_match-calcstep.bmp
ulp/cmd-draw-move-circle-no_match-degstep.bmp
ulp/cmd-draw-move-ellipse-match-calcstep.bmp
ulp/cmd-draw-move-ellipse-match-degstep.bmp
ulp/cmd-draw-move-ellipse-no_match-calcstep.bmp
ulp/cmd-draw-move-ellipse-no_match-degstep.bmp
ulp/cmd-draw-move-ellipse4-match-calcstep.bmp
ulp/cmd-draw-move-ellipse4-match-degstep.bmp
ulp/cmd-draw-move-ellipse4-no_match-calcstep.bmp
ulp/cmd-draw-move-ellipse4-no_match-degstep.bmp
ulp/cmd-draw-move-match-ellipse-none.bmp
ulp/cmd-draw-move-match-none.bmp
ulp/cmd-draw-move-no_match-ellipse-none.bmp
ulp/cmd-draw-move-no_match-none.bmp
ulp/cmd-draw-pad-ellipse-calcstep.bmp
ulp/cmd-draw-pad-ellipse-degstep.bmp
ulp/cmd-draw-pad-ellipse4-calcstep.bmp
ulp/cmd-draw-pad-ellipse4-degstep.bmp
ulp/cmd-draw-pad-none-calcstep.bmp
ulp/cmd-draw-pad-none-degstep.bmp
ulp/cmd-draw-pad-none.bmp
ulp/cmd-draw-polygon-circle-calcstep.bmp
ulp/cmd-draw-polygon-circle-degstep.bmp
ulp/cmd-draw-polygon-contours-as-wire.ulp
ulp/cmd-draw-polygon-ellipse-calcdeg.bmp
ulp/cmd-draw-polygon-ellipse-calcstep.bmp
ulp/cmd-draw-polygon-ellipse-degstep.bmp
ulp/cmd-draw-polygon-ellipse-none.bmp
ulp/cmd-draw-polygon-ellipse4-calcstep.bmp
ulp/cmd-draw-polygon-ellipse4-degstep.bmp
ulp/cmd-draw-polygon-ellipse4-none.bmp
ulp/cmd-draw-polygon-none-calcstep.bmp
ulp/cmd-draw-polygon-none.bmp
ulp/cmd-draw-smd-circle-match-calcstep.bmp
ulp/cmd-draw-smd-circle-match-degstep.bmp
ulp/cmd-draw-smd-circle-no_match-calcstep.bmp
ulp/cmd-draw-smd-cricle-no_match-degstep.bmp
ulp/cmd-draw-smd-ellipse-match-calcstep.bmp
ulp/cmd-draw-smd-ellipse-match-degstap.bmp
ulp/cmd-draw-smd-ellipse-no_match-calcstep.bmp
ulp/cmd-draw-smd-ellipse-no_match-degstep.bmp
ulp/cmd-draw-smd-ellipse4-match-calcstep.bmp
ulp/cmd-draw-smd-ellipse4-match-degstep.bmp
ulp/cmd-draw-smd-ellipse4-no_match-calcstep.bmp
ulp/cmd-draw-smd-ellipse4-no_match-degstep.bmp
ulp/cmd-draw-smd-match-degstep.bmp
ulp/cmd-draw-smd-match-none.bmp
ulp/cmd-draw-smd-no_match-degsetp.bmp
ulp/cmd-draw-smd-no_match-none.bmp
ulp/cmd-draw-wire-calc-ellipse.bmp
ulp/cmd-draw-wire-calcstep-none.bmp
ulp/cmd-draw-wire-circle-calcstep.bmp
ulp/cmd-draw-wire-circle-degstep.bmp
ulp/cmd-draw-wire-clac-ellipse4.bmp
ulp/cmd-draw-wire-degstep-none.bmp
ulp/cmd-draw-wire-ellipse.bmp
ulp/cmd-draw-wire-none.bmp
ulp/cmd-draw-wire-step-ellipse.bmp
ulp/cmd-draw-wire-step-ellipse4.bmp
ulp/cmd-draw.ulp
ulp/cmd-net-list2sch.ulp
ulp/cmd-netscript2sch.ulp
ulp/cmd-place-restrict-name-value.ulp
ulp/cmd-rename-in-lbr.ulp
ulp/cmd-renumber.ulp
ulp/cmd-showzoom.ulp
ulp/cmd-snap-board.ulp
ulp/cmd-snappads.ulp
ulp/component-array.ulp
ulp/connect-device-split-symbol.ulp
ulp/copy-attrib-sch-to-brd.ulp
ulp/copy-attribute-at-deviceset.ulp
ulp/copy-silk-screen.ulp
ulp/copy-text-as-wire.ulp
ulp/copy-wire-to-any-layer.ulp
ulp/copy-wire-to-solder-mask.ulp
ulp/count.ulp
ulp/del-devices.ulp
ulp/del-empty-devices.ulp
ulp/del-pack-sym.ulp
ulp/designlink-inc.ulp
ulp/designlink-lbr.ulp
ulp/designlink-order.ulp
ulp/dif40.ulp
ulp/dose-pro.ulp
ulp/drill-aid.ulp
ulp/drillcfg.ulp
ulp/drillegend-stack.ulp
ulp/dxf.ulp
ulp/e-attributverwaltung.ulp
ulp/e-bauteil-erstellen.ulp
ulp/e-brueckenverwaltung.ulp
ulp/e-klemmenplan.ulp
ulp/e-makelist.ulp
ulp/e-packages-aus-devices-pin-ist-padname.ulp
ulp/eagle.bmp
ulp/eagleidfexporter.ulp
ulp/edit-used-dev-pac-sym.ulp
ulp/editnext-dev-sym-pac.ulp
ulp/editnext-lbr.ulp
ulp/editnext-sheet.ulp
ulp/editprev-dev-sym-pac.ulp
ulp/editprev-lbr.ulp
ulp/editprev-sheet.ulp
ulp/ex-argv-path.ulp
ulp/ex-dialogs.ulp
ulp/ex-dlglist.ulp
ulp/ex-file-copy.ulp
ulp/ex-include.ulp
ulp/ex-input-file.ulp
ulp/ex-loop-lbrs.ulp
ulp/ex-run-script.ulp
ulp/exp-descr-html.ulp
ulp/exp-descr-script.ulp
ulp/exp-lbrs.ulp
ulp/exp-palette.ulp
ulp/exp2image.ulp
ulp/export-class.ulp
ulp/export-error.ulp
ulp/export-ict-netlist-pad-coordinates.ulp
ulp/fabmaster.ulp
ulp/fill-via4vacuum.ulp
ulp/find-single-ended-wire.ulp
ulp/find.ulp
ulp/gen-3d-idf-pac.ulp
ulp/generate-3d-idf-data.ulp
ulp/generate-dummy-package-and-connect.ulp
ulp/gluemark.ulp
ulp/glueout.ulp
ulp/hyperlynx.ulp
ulp/import-accel.ulp
ulp/import-bmp-c256.bmp
ulp/import-bmp-dpi.bmp
ulp/import-bmp-ratio.bmp
ulp/import-bmp-scale.bmp
ulp/import-bmp.ulp
ulp/import-dxf.ulp
ulp/import-gerber.ulp
ulp/import-pads-powerpcb-v5.ulp
ulp/import-ultiboard-ddf.ulp
ulp/ipc-d-356.ulp
ulp/layer-sequence-arrowdown.png
ulp/layer-sequence-arrowup.png
ulp/layer-sequence.ulp
ulp/length-freq-ri.ulp
ulp/length.ulp
ulp/lpp.ulp
ulp/ltspice.ulp
ulp/make-group2pac.ulp
ulp/make-long-pad-inner-layer.ulp
ulp/make-package-consistent-brd-sch.ulp
ulp/make-symbol-device-package-bsdl.ulp
ulp/make-value-consistent.ulp
ulp/make_bga_package.bmp
ulp/make_package_dual.bmp
ulp/make_package_meass_pacinfo.bmp
ulp/make_package_meass_pacinfo2.bmp
ulp/make_package_meass_padinfo-oct.bmp
ulp/make_package_meass_padinfo-round.bmp
ulp/make_package_meass_padinfo-sqr.bmp
ulp/make_package_meass_smdinfo.bmp
ulp/make_package_quad_left.bmp
ulp/make_package_quad_middle.bmp
ulp/make_symbol_dual1.bmp
ulp/make_symbol_dual2.bmp
ulp/make_symbol_quad.bmp
ulp/make_symbol_single.bmp
ulp/make_symbol_stripe.bmp
ulp/maskdata.ulp
ulp/microstrip-radial-stub.bmp
ulp/microstrip-radial-stub.ulp
ulp/mill-outlines-bott.bmp
ulp/mill-outlines-cnc-dim-down.bmp
ulp/mill-outlines-cnc-down.bmp
ulp/mill-outlines-cnc-drill-down.bmp
ulp/mill-outlines-cnc-drill-safety.bmp
ulp/mill-outlines-cnc-fastvelocity.bmp
ulp/mill-outlines-cnc-parkposition.bmp
ulp/mill-outlines-cnc-rpm.bmp
ulp/mill-outlines-cnc-safety.bmp
ulp/mill-outlines-cnc-up.bmp
ulp/mill-outlines-cnc-velocity.bmp
ulp/mill-outlines-cnc.bmp
ulp/mill-outlines-coppdim.bmp
ulp/mill-outlines-dimension-contours.bmp
ulp/mill-outlines-drc-info.bmp
ulp/mill-outlines-drill-velocity.bmp
ulp/mill-outlines-drill.bmp
ulp/mill-outlines-eagle.bmp
ulp/mill-outlines-free.bmp
ulp/mill-outlines-get_board_zero.bmp
ulp/mill-outlines-hole.bmp
ulp/mill-outlines-hpgl.bmp
ulp/mill-outlines-inner-polygon-contour.bmp
ulp/mill-outlines-inner-polygon-contour1.bmp
ulp/mill-outlines-inside-milling.bmp
ulp/mill-outlines-isel.bmp
ulp/mill-outlines-isol-pour.bmp
ulp/mill-outlines-mildimension.bmp
ulp/mill-outlines-mirror-nc-bottom.bmp
ulp/mill-outlines-mirror-nc-top.bmp
ulp/mill-outlines-mirror.bmp
ulp/mill-outlines-multi-dimension.bmp
ulp/mill-outlines-no-blowup.bmp
ulp/mill-outlines-nomir.bmp
ulp/mill-outlines-null_reference-drilling.bmp
ulp/mill-outlines-null_reference.bmp
ulp/mill-outlines-ovrlpfp.bmp
ulp/mill-outlines-ovrlppp.bmp
ulp/mill-outlines-plus-text.bmp
ulp/mill-outlines-pour.bmp
ulp/mill-outlines-question.bmp
ulp/mill-outlines-resolution.bmp
ulp/mill-outlines-script.bmp
ulp/mill-outlines-sec-isol.bmp
ulp/mill-outlines-sec-isolate.bmp
ulp/mill-outlines-spacing.bmp
ulp/mill-outlines-top.bmp
ulp/mill-outlines-via.bmp
ulp/mill-outlines.def
ulp/mill-outlines.ulp
ulp/mirror-board-remirror-element-swap-layer.ulp
ulp/mirror-board.ulp
ulp/mkdir.ulp
ulp/mount-marks-smd.ulp
ulp/mount-marks.ulp
ulp/mount-smd-tht.ulp
ulp/mount-trace.ulp
ulp/mount.ulp
ulp/mountsmd.ulp
ulp/net-bus-labeling.ulp
ulp/netlist-converter.ulp
ulp/nextdevdescript.ulp
ulp/nextpacdescript.ulp
ulp/normalize-text.ulp
ulp/outlines.ulp
ulp/panelize.ulp
ulp/part2html.ulp
ulp/pcb-service.ulp
ulp/prevdevdescript.ulp
ulp/prevpacdescript.ulp
ulp/print-inductor-ulp.bmp
ulp/print-inductor.ulp
ulp/print-spiral.bmp
ulp/print-transparent-brd.ulp
ulp/remove-dev-sym-pac.ulp
ulp/remove-unused-packages.ulp
ulp/rename-signal.ulp
ulp/renamnet-suffix.ulp
ulp/renumber-sheet.ulp
ulp/run-loop-all-devicesets-script.ulp
ulp/run-loop-all-lbr-script.ulp
ulp/run-loop-all-lbr-ulp.ulp
ulp/run-loop-all-packages-script.ulp
ulp/run-loop-all-schematic-script.ulp
ulp/run-loop-all-symbols-script.ulp
ulp/save-brd-variants.ulp
ulp/select-sch-group-to-brd-group.ulp
ulp/set-all-devices-attribute.ulp
ulp/set_name_value.ulp
ulp/show-group.ulp
ulp/showclass.ulp
ulp/silk.ulp
ulp/smash-all-sch.ulp
ulp/smd-coordinate.ulp
ulp/snap-on-grid-sch.ulp
ulp/snap-pin-in-symbol.ulp
ulp/spiceorder.ulp
ulp/spin-all.ulp
ulp/spiral-coil-ulp.bmp
ulp/spiral-coil.ulp
ulp/split-device-symbol.ulp
ulp/statistic-brd-checkmin.val
ulp/statistic-brd.ulp
ulp/statistic-copper-plane.ulp
ulp/statistic-lbr.ulp
ulp/statistic-sch.ulp
ulp/statistic_attention_min_value.bmp
ulp/teardrops.ulp
ulp/trace-layer.ulp
ulp/ulpmessage.ulp
ulp/unidat.ulp
ulp/update-packages.ulp
ulp/useful-routines.ulp
ulp/via-mask-one-layer.ulp
ulp/warning.bmp
ulp/DESCRIPTION
doc/devtools/PartTest.png
doc/devtools/PartTest.pov
*.exe
doc/devtools/*.dll
doc/devtools/*.dll.a
