#/******************************************************************************
# * basic .gitignore for https://github.com/wirbel-at-vdr-portal/Eagle3D
# *****************************************************************************/

# the msys64 sync script isn't part of it:
synchronize.sh

# common development artifacts
*.bak
*.txt
*.log
*.new
*.old

# this is a per user and run file.
ulp/3dconf.dat
